<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Fresh pages | StoryBooks</title>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.0/ckeditor.js" integrity="sha512-7My1gsUz5JUQgT8+P0sHKaPel/77X3zjGZsXbTS8Y7MhDEJ+f9xg9H+pPzONFL5djye0zWLlxFLApGsWQ1gdfA==" crossorigin="anonymous"></script>
</head>

<body>
    {{> _header}}
    {{> _add_btn}}
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <script>
       
        //{{!-- replace the textarea with name-body to ck editor --}}
       if (document.getElementById('body')) {
            CKEDITOR.replace('body', {
            plugins: 'wysiwygarea,toolbar,colordialog,dialogui,format,codesnippet,font,horizontalrule,uicolor,undo,pagebreak,find,basicstyles,blockquote,justify,link,list,indent,enterkey,entities,htmlwriter,clipboard,maximize,notification',
            height: 360,
            wordcount: {
                showParagraphs: false,
                showBlockCount: false,
                showCharCount: true,
                showWordCount: true,
                countSpacesAsChars: false,
                maxWordCount: -1,
                maxCharCount: -1
            }
            });
  }
    </script>
</body>
</html>